.wpu-wrapper *, .wpu-wrapper *::after, .wpu-wrapper *::before {
    box-sizing: border-box;
}
.clear-fix:after {
    content: " ";
    clear: both;
    display: block;
}
.wpu-hide {
    display: none;
}
/* --------------------------------

xsigin/signup popup 

-------------------------------- */
.wpu-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 54, 66, 0.9);
    z-index: 69;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
    -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
    transition: opacity 0.3s 0, visibility 0 0.3s;
}

.wpu-modal .wpu_input label {
    display: none;
}

.wpu-modal.is-visible {
    visibility: visible;
    opacity: 1;
    z-index: 9999;
    -webkit-transition: opacity 0.3s 0, visibility 0 0;
    -moz-transition: opacity 0.3s 0, visibility 0 0;
    transition: opacity 0.3s 0, visibility 0 0;
}

.wpu-modal.is-visible .wpu-modal-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.wpu-modal-container {
    position: relative;
    width: 420px;
    max-width: 100%;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.wpu-modal .wpu-form {
    padding: 20px;
    position: relative;
}

.wpu-form .wpu-form-header {
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.wpu-form .wpu-form-body p {
    margin-bottom: 15px;
}

.wpu-form .fieldset {
    position: relative;
    margin: 15px 0;
}
.wpu-form .fieldset:after {
    content: ""; display: block; clear: both;
}

.wpu-form .fieldset:first-child {
    margin-top: 0;
}

.wpu-form .fieldset:last-child {
    margin-bottom: 0;
}

.wpu-form-fields.viewing-info .fieldset label {
    width: 120px;
    float: left;
}

.wpu-form-fields label, .fieldset label {
    display: block;
}
.forgetmenot.fieldset label{
    width: auto;
    display: inline-block;
    font-weight: normal;
}
.wpu-form .fieldset {
    display: block;
    margin-bottom: 15px;
}

.wpu-form input:not([type=checkbox]),
.wpu-form textarea,
.wpu-form .btn{
    width: 100%;
    padding: 10px 10px;
}
.wpu-form input[type="checkbox"] {
    margin: 5px 5px 5px 0px;
}
.wpu-form input[readonly=readonly] {
    background: #ededed;
}
.wpu-form .fieldset:after {
    content: ' '; clear: both; display: block;
}
.wpu-form .custom-terms .wpu-accept-terms {
    float: left;
    margin: 5px 0 5px 5px;
}

.wpu-form .custom-terms .wpu-term-mgs {
    margin-left: 25px;
}

.wpu-form input.full-width {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wpu-form input.has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.wpu-form input.has-border:focus {
    border-color: #343642;
    box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    outline: none;
}

.wpu-form input.has-error {
    border: 1px solid #d76666;
}

.wpu-form input[type=password] {
    /* space left for the HIDE button */
    padding-right: 65px;
}
.wpu-pwd-toggle {
    display: block;
    position: relative;
}
.wpu-form .wpu-pwd-toggle input {
    padding-right: 65px;
}
.wpu-form .hide-password {
    vertical-align: middle;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 65px;
    text-align: center;
    line-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    outline: none;
}

.wpu-form .wpu-error-msg {
    display: inline-block;
    position: absolute;
    left: -5px;
    bottom: -35px;
    background: rgba(215, 102, 102, 0.9);
    padding: 5px 10px;
    z-index: 2;
    color: #FFF;
    font-size: 13px;
    font-size: 0.8125rem;
    /* prevent click and touch events */
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
    -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
    transition: opacity 0.2s 0, visibility 0 0.2s;
}

.wpu-form .wpu-error-msg::after {
    /* triangle */
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}
.wpu-form .wpu-error-msg.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0, visibility 0 0;
    -moz-transition: opacity 0.2s 0, visibility 0 0;
    transition: opacity 0.2s 0, visibility 0 0;
}
.wpu-msg {

}
.wpu-msg.st-show,
.form .wpu-msg.st-show,
.ui.form .error.message.st-show,
.ui.form .info.message.st-show,
.ui.form .success.message.st-show,
.ui.form .warning.message.st-show {
    display: block ;
}

.wpu-close-form {
    /* form X button on top right */
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: -40px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.wpu-errors-msg {
    color: #ff0000;
}
.wpu-info .wpuname .avatar {
    float: left;
    margin-right: 15px;
}
.st-ui:after{
    clear: both; content: "";
    display: block;
}
.wpu-modal .wpu-form {
    display: none;
}
.wpu-modal .wpu-form.is-selected {
    display: block;
}

.forgetmenot .wpu-lost-pwd-link {
    float: right;
}

.wpu-form-header h3 {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1;
}
.wpu-form-footer {
    border-top: 1px solid #DCDCDC;
    padding-top: 20px;
    margin-top: 20px;
}
.wpu-form-footer p:last-child {
    margin-bottom: 0px;
}
.wpu-logged-in .wpu-links {
    text-align: center;
}
.wpu-logged-in .wpu-links a {
    margin: 0px 5px;
}
.wpu-wrapper .wpu_input label{
    width: 100%;
    margin-bottom: 3px;
}

/* --------------------------------

NAV helper - Use for menu conditions

-------------------------------- */
.display-none, .js-remove-nav, .hide {
    display: none;
}

/* Profile from */
.wpu-form-header {

}
.wpu-profile-cover {
    width: 100%;
    height: 150px;
    position:relative; /* or fixed or absolute */
    overflow: hidden;

    background-color: #f0f0f0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wpu-profile-avatar.coppic ,  .wpu-profile-avatar.coppic .croppic-div{
    width: 120px;
    height: 120px;
    display: block;
    overflow: inherit;
}

.wpu-profile-avatar.coppic {
    border-radius: 50%;
    background-color: #d5ff8a;
}

.wpu-profile-avatar.coppic .wpu-media {
    top: auto;
    bottom: 0px;
    left: 50%;
    margin-left: -33px;
    width: 75px;
}
.wpu-profile-avatar.coppic .wpu-media .cp-actions {
    left: 0px;
    right: auto;
    border: 1px solid #ededed;
}

.wpu-form-profile .wpu-form-header {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-top: 0px none transparent;
    border-bottom: 0px solid #DCDCDC;
}
.wpu-form-profile .wpu-profile-meta, .wpu-profile-mini .wpu-profile-meta {
    border-left: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    padding-bottom: 20px;
    padding-top: 10px;
}

.wpu-profile-avatar {
    float: left;
    margin-top: -60px;
    margin-left: 2rem;
}
.wpu-profile-meta-info {
    float: left;
    padding-left: 15px;
}
.wpu-profile-meta:after {
    clear: both; content: ""; display: block;
}
.wpu-display-name {
    font-size: 23px;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.list-meta-info i {
    font-size: 15px;
    margin-top: 4px;
}
.wpu-form-body .wpu-form-sidebar {
    width: 17%;
    float: left;
}
.wpu-form-body .wpu-form-sidebar + .wpu-form-profile {
    padding-left: 3%;
    float: right;
    width: 80%;
}
.wpu-form-body .wpu-form-message {
    line-height: 1.5;
}
.wpu-socials{
    float: right;
    margin-top: 20px;
    padding-right: 20px;
}
.wpu-socials a {
    text-decoration: none;
    width: 30px; height: 30px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ededed;
    border-radius: 50%;
}
.wpu-socials a span {
    padding-top: 1.5px;
}
.wpu-socials a span:before {
    vertical-align: middle;
}
.wpu-form-body {
    line-height: 1.5;
}
.wpu-form-body .viewing-info {
    width: 100%;
    float: left;
}
.wpu-form-body .wpu-form-sidebar {
    margin: 0px;
    padding: 0px;
}
.wpu-form-body .wpu-form-sidebar li {
    list-style: none;
    border-bottom: 0px none;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
.wpu-form-sidebar li:last-child {
    margin-bottom: 0px;
}
.wpu-form-sidebar li a {
    text-decoration: none;
    background: #F0F0F0;
    display: block;
    border-bottom: 0px none;
    padding: 5px 15px;
}
.wpu-form-sidebar li.active  a {
    background: #e0e0e0;
}


/* Responsive & Sidebar Profile */
.sidebar .wpu-profile-avatar.coppic,
.widget-area .wpu-profile-avatar.coppic {
    width: 90px;
    height: 90px;
    margin-top: -45px;
}
.sidebar .wpu-form-header .wpu-profile-avatar,
.widget-area .wpu-form-header .wpu-profile-avatar
{
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.sidebar .wpu-form-header .wpu-profile-meta-info,
.widget-area .wpu-form-header .wpu-profile-meta-info {
    padding: 0px;
    float: none;
    text-align: center;
}
.sidebar .wpu-form-header .wpu-socials,
.widget-area .wpu-form-header .wpu-socials {
    padding: 0px;
    float: none;
    text-align: center;
}
.sidebar .wpu-form-body .wpu-form-sidebar ,
.widget-area .wpu-form-body .wpu-form-sidebar {
    width: 100%;
    float: none;
    margin-bottom: 20px;
}
.sidebar .wpu-form-body .wpu-form-sidebar li ,
.widget-area .wpu-form-body .wpu-form-sidebar li {
    margin-left: 0px;
}
.sidebar .wpu-form-fields.viewing-info .fieldset span,
.widget-area .wpu-form-fields.viewing-info .fieldset span {
    display: block;
    clear: both;
}
.sidebar  .wpu-form-body .wpu-form-sidebar + .wpu-form-profile ,
.widget-area  .wpu-form-body .wpu-form-sidebar + .wpu-form-profile {
    float: none;
    padding: 0px;
    width: 100%;
}



.coppic {
    width: 100%;
    height: 150px;
    position:relative; /* or fixed or absolute */
    background-color: #f0f0f0;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat ;
    background-size: cover; /*100% auto;*/
}


.wpu-media {
    position: absolute;
    top: 10px; right: 10px ;
    z-index: 3;

}
.wpu-media .cp-btn {
    background:rgba(0,0,0,0.4);
    cursor: pointer;
    color: #ffffff;
    font-size: 10px;
    padding: 5px;
    line-height: 12px;
    text-transform: uppercase;
}
.wpu-media.hide {
    display: none;
}
.wpu-media i.cp-icon {
    display: inline-block;
}
.wpu-media span {
    display: inline-block;
    vertical-align: middle;
}
.wpu-media i.cp-icon:before {
    font-family: "dashicons";
    content: "\f111";
    font-size: 12px;
    line-height: 10px;
    font-style: normal;
    margin-right: 5px;
    vertical-align: middle;
}
.wpu-media .cp-actions {
    position: absolute;
    text-transform: none;
    top: 24px;
    right: 0px;
    background: #ffffff;
    color: #666666;
    padding: 10px;
    font-size: 12px;
    display: none;
    width: 120px;
}
.wpu-media .cp-actions.cp-active {
    display: block;
}
.cp-actions > div {
    margin-bottom: 10px;
    cursor: pointer;
}
.cp-actions > div:last-child {
    margin-bottom: 0px;
}


/*
MEDIA QUERY
--------------------------------------------
*/
@media only screen and (max-width: 763px) {

    .wpu-profile-avatar.coppic {
        width: 90px;
        height: 90px;
        margin-top: -45px;
    }
    .wpu-form-header .wpu-profile-avatar
    {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .wpu-form-header .wpu-profile-meta-info {
        padding: 0px;
        float: none;
        text-align: center;
    }
    .wpu-form-header .wpu-socials {
        padding: 0px;
        float: none;
        text-align: center;
    }
    .wpu-form-body .wpu-form-sidebar {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
    .wpu-form-body .wpu-form-sidebar li {
        margin-left: 0px;
    }
    .wpu-form-fields.viewing-info .fieldset span {
        display: block;
        clear: both;
    }
    .wpu-form-body .wpu-form-sidebar + .wpu-form-profile {
        float: none;
        padding: 0px;
        width: 100%;
    }

}